{% extends 'root/layout.html' %}
{% load static %}

<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div id="object"></div>
        </div>
    </div>
</div>
{% block body %}

<div class="title-section module">
    <div class="row">
        <div class="small-12 columns">
            <h1>Join Our Events</h1>
        </div>
        <div class="small-12 columns">
            <ul class="breadcrumbs">
                <li><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li class="disabled">Gene Splicing</li>
                <li><span class="show-for-sr">Current: </span> Cloning</li>
            </ul>
        </div>
    </div>
</div>


<div class="content-section module">

    <div class="space-section module">
        <div class="row">
            <div class="events-wrapper">
                <div class="medium-6 small-12 columns">
                    <div class="event">
                        <div class="medium-8 small-12 columns event-data">
                            <h4><a href="single-event.html">PHP Developer December 2016 Seminar</a></h4>
                            <p>We are happy to announce that our next seminar for PHP classes will be held at our Lahore
                                campus
                                click link for details and further information ...</p>
                            <p><strong>Timinings:</strong> 17:00 - 18:00
                                <br><strong>Date:</strong> 24, December 2016
                            </p>
                            <a href="single-event.html" class="button primary bordered-dark">Join Event</a>
                        </div>
                        <div class="medium-4 small-12 columns event-thumb">
                            <img src="{% static 'images/help/phpcourse.jpg' %}" alt="PHP Course" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="medium-6 small-12 columns">
                    <div class="event">
                        <div class="medium-8 small-12 columns event-data">
                            <h4><a href="#">Graphics Designer December 2016 Seminar</a></h4>
                            <p>We are happy to announce that our next seminar for PHP classes will be held at our Lahore
                                campus
                                click link for details and further information...</p>
                            <p><strong>Timinings:</strong> 17:00 - 18:00
                                <br><strong>Date:</strong> 24, December 2016
                            </p>
                            <a href="single-event.html" class="button primary bordered-dark">Join Event</a>
                        </div>
                        <div class="medium-4 small-12 columns event-thumb">
                            <img src="{% static 'images/help/graphiccourse.jpg' %}" alt="PHP Course" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="medium-6 small-12 columns">
                    <div class="event">
                        <div class="medium-8 small-12 columns event-data">
                            <h4><a href="single-event.html">PHP Developer December 2016 Seminar</a></h4>
                            <p>We are happy to announce that our next seminar for PHP classes will be held at our Lahore
                                campus
                                click link for details and further information ...</p>
                            <p><strong>Timinings:</strong> 17:00 - 18:00
                                <br><strong>Date:</strong> 24, December 2016
                            </p>
                            <a href="single-event.html" class="button primary bordered-dark">Join Event</a>
                        </div>
                        <div class="medium-4 small-12 columns event-thumb">
                            <img src="{% static 'images/help/phpcourse.jpg' %}" alt="PHP Course" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="medium-6 small-12 columns">
                    <div class="event">
                        <div class="medium-8 small-12 columns event-data">
                            <h4><a href="#">Graphics Designer December 2016 Seminar</a></h4>
                            <p>We are happy to announce that our next seminar for PHP classes will be held at our Lahore
                                campus
                                click link for details and further information...</p>
                            <p><strong>Timinings:</strong> 17:00 - 18:00
                                <br><strong>Date:</strong> 24, December 2016
                            </p>
                            <a href="single-event.html" class="button primary bordered-dark">Join Event</a>
                        </div>
                        <div class="medium-4 small-12 columns event-thumb">
                            <img src="{% static 'images/help/graphiccourse.jpg' %}" alt="PHP Course" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="medium-6 small-12 columns">
                    <div class="event">
                        <div class="medium-8 small-12 columns event-data">
                            <h4><a href="single-event.html">PHP Developer December 2016 Seminar</a></h4>
                            <p>We are happy to announce that our next seminar for PHP classes will be held at our Lahore
                                campus
                                click link for details and further information ...</p>
                            <p><strong>Timinings:</strong> 17:00 - 18:00
                                <br><strong>Date:</strong> 24, December 2016
                            </p>
                            <a href="single-event.html" class="button primary bordered-dark">Join Event</a>
                        </div>
                        <div class="medium-4 small-12 columns event-thumb">
                            <img src="{% static 'images/help/phpcourse.jpg' %}" alt="PHP Course" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="medium-6 small-12 columns">
                    <div class="event">
                        <div class="medium-8 small-12 columns event-data">
                            <h4><a href="#">Graphics Designer December 2016 Seminar</a></h4>
                            <p>We are happy to announce that our next seminar for PHP classes will be held at our Lahore
                                campus
                                click link for details and further information...</p>
                            <p><strong>Timinings:</strong> 17:00 - 18:00
                                <br><strong>Date:</strong> 24, December 2016
                            </p>
                            <a href="single-event.html" class="button primary bordered-dark">Join Event</a>
                        </div>
                        <div class="medium-4 small-12 columns event-thumb">
                            <img src="{% static 'images/help/graphiccourse.jpg' %}" alt="PHP Course" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="our-teachers">
        <div class="row">
            <div class="section-title-wrapper">
                <div class="section-title">
                    <h2>Our Representatives</h2>
                    <p>Some Special Teachers From the Industry!</p>
                </div>
            </div>
            <div class="teachers-wrapper">
                <div class="teacher">
                    <div class="teacher-thumb">
                        <img src="{% static 'images/help/teacher1.jpg' %}" alt="Teacher Doe" />
                        <div class="teacher-links menu-centered">
                            <ul class="menu">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                            <a href="#" class="small-button">Read More &raquo;</a>
                        </div>
                    </div>
                    <div class="teacher-meta">
                        <h3><a href="#">Mr. John Doe</a></h3>
                        <p>Highly Educated Punjab University Professor</p>
                    </div>
                </div>
                <div class="teacher">
                    <div class="teacher-thumb">
                        <img src="{% static 'images/help/teacher5.jpg' %}" alt="Teacher Doe" />
                        <div class="teacher-links menu-centered">
                            <ul class="menu">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                            <a href="#" class="small-button">Read More &raquo;</a>
                        </div>
                    </div>
                    <div class="teacher-meta">
                        <h3><a href="#">Mr. John Doe</a></h3>
                        <p>Highly Educated Punjab University Professor</p>
                    </div>
                </div>
                <div class="teacher">
                    <div class="teacher-thumb">
                        <img src="{% static 'images/help/teacher3.jpg' %}" alt="Teacher Doe" />
                        <div class="teacher-links menu-centered">
                            <ul class="menu">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                            <a href="#" class="small-button">Read More &raquo;</a>
                        </div>
                    </div>
                    <div class="teacher-meta">
                        <h3><a href="#">Mr. John Doe</a></h3>
                        <p>Highly Educated Punjab University Professor</p>
                    </div>
                </div>
                <div class="teacher">
                    <div class="teacher-thumb">
                        <img src="{% static 'images/help/teacher4.jpg' %}" alt="Teacher Doe" />
                        <div class="teacher-links menu-centered">
                            <ul class="menu">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                            <a href="#" class="small-button">Read More &raquo;</a>
                        </div>
                    </div>
                    <div class="teacher-meta">
                        <h3><a href="#">Mr. John Doe</a></h3>
                        <p>Highly Educated Punjab University Professor</p>
                    </div>
                </div>
                <div class="teacher">
                    <div class="teacher-thumb">
                        <img src="{% static 'images/help/teacher2.jpg' %}" alt="Teacher Doe" />
                        <div class="teacher-links menu-centered">
                            <ul class="menu">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                            <a href="#" class="small-button">Read More &raquo;</a>
                        </div>
                    </div>
                    <div class="teacher-meta">
                        <h3><a href="#">Mr. John Doe</a></h3>
                        <p>Highly Educated Punjab University Professor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock body %}