{% extends 'root/layout.html' %}


{% block meta_tags %}
<meta name="keywords"
    content="Sagar, Foundation, sagar foundation,Social Work, Social Contribution, Research, Data Analysis, Awareness,  Publication, Journal, Research Paper, Donation, Professional">
<meta name="description"
    content="SAGAR Foundation is a Government approved Registered Trust (Redg. No
    E/21046/Ahmedabad)
    working on a philosophy of “Social Service with Professional Approach”.">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock meta_tags %}


{% block section_main_banner %}
{% include 'root/section_main_banner.html' %}
{% endblock section_main_banner %}


{% block section_gallery %}
{% include 'root/section_gallery.html' %}
{% endblock section_gallery %}


{% block announcement %}
{% include 'root/announcement.html' %}
{% endblock announcement %}