{% extends 'root/layout.html' %}
{% load static %}


{% block body %}
<div class="title-section module">
    <div class="row">
        <div class="small-12 columns">
            <h1>Research Counseling (SAGAR Research Academy)</h1>
        </div>
        <div class="small-12 columns">
            <ul class="breadcrumbs">
                <li><a href="{% url 'root:index' %}">Home</a></li>
                <li><a href="{% url 'root:professional_activities' %}">Professional Activities</a></li>
                <li><span class="show-for-sr">Current: </span> Research Counseling (SAGAR Research Academy)</li>
            </ul>
        </div>
    </div>
</div>
<style>
    p,li{
        font-size: medium;
        color: black
    }
</style>
<div class="content-section module">
    <div class="welcome-message module">
        <div class="row">
            <div class="post-excerpt" style="margin-left: 20px;margin-right: 20px;">
                
                <p align="justify" class="style2">Research counseling activities of the foundation included complete
                    guidance in conduction research in the areas of social sciences. Foundation aims at a long term
                    mission of support and dissemination of research. Research counseling services include, support and
                    guidance and training in;</p>
                <div align="justify">
                    <ul>
                        <li class="style2"><strong>Writing research proposal:</strong> A proposal is a request for
                            support of sponsored research, instruction, or extension projects. Good proposals quickly
                            and easily answer the following questions (a)&nbsp; What do you want to do, how much will it
                            cost, and how much time will it take? (b) How does the proposed project relate to the
                            sponsor's interests? (c) What difference will the project make to: your university, your
                            students, your discipline, the state, the nation, or any other concerned parties? (d) What
                            has already been done in the area of your project? (e) How do you plan to do it? (f) How
                            will the results be evaluated? (g) Why should you, rather than someone else, do this
                            project?</li>
                    </ul>
                    <ul>
                        <li class="style2"><strong>Writing research paper: </strong> </li>
                    </ul>
                </div>
                <p align="justify" class="style2">Step 1: Identify and develop your topic<br>
                    Step 2: Do a preliminary search for information<br>
                    Step 3: Locate materials<br>
                    Step 4: Evaluate your sources<br>
                    Step 5: Make notes<br>
                    Step 6: Write your paper<br>
                    Step 7: Cite your sources properly<br>
                    Step 8: Proofread</p>
                <div align="justify">
                    <ul>
                        <li class="style2"><strong>Data collection (Secondary): </strong> </li>
                    </ul>
                </div>
                <p align="justify" class="style2">Govt. Publications<br>
                    &nbsp;International Bodies<br>
                    Semi Govt. Publications<br>
                    Reports of Committee and Commissions<br>
                    Private Publications<br>
                    Newspapers and Magazines<br>
                    Research Scholars<br>
                    Unpublished Source</p>
                <div align="justify">
                    <ul>
                        <li class="style2"><strong>Data collection (Primary): </strong> </li>
                    </ul>
                </div>
                <p align="justify" class="style2">Interview<br>
                    Observation<br>
                    Action research<br>
                    Case studies<br>
                    Life histories<br>
                    Questionnaires<br>
                    Ethnographic research<br>
                    Longitudinal studies</p>
                <div align="justify">
                    <ul>
                        <li class="style2"><strong>Data entry</strong></li>
                    </ul>
                </div>
                <p align="justify" class="style2">Data entry in MS Excel<br>
                    Data entry in SPSS<br>
                    Data entry in Access<br>
                    Data entry for primary data<br>
                    Data entry for secondary data</p>
                <p align="justify" class="style2">&nbsp;</p>
                <p align="justify" class="style2">&nbsp;</p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}