{% extends 'root/layout.html' %}
{% load static %}


{% block body %}
<div class="title-section module">
    <div class="row">
        <div class="small-12 columns">
            <h1>Content development</h1>
        </div>
        <div class="small-12 columns">
            <ul class="breadcrumbs">
                <li><a href="{% url 'root:index' %}">Home</a></li>
                <li><a href="{% url 'root:professional_activities' %}">Professional Activities</a></li>
                <li><span class="show-for-sr">Current: </span> Content development</li>
            </ul>
        </div>
    </div>
</div>
<style>
    p,
    li {
        font-size: medium;
        color: black
    }
</style>
<div class="content-section module">
    <div class="welcome-message module">
        <div class="row">
            <div class="post-excerpt" style="margin-left: 20px;margin-right: 20px;">
                
                <p align="justify" class="style2">
                </p>
                <ul>


                    <ul>
                        <li class="style2">Blog&nbsp;Posts</li>
                        <li class="style2">E-Books</li>
                        <li class="style2">White&nbsp;Papers</li>
                        <li class="style2">Website&nbsp;Pages</li>
                        <li class="style2">Landing&nbsp;Pages</li>
                        <li class="style2">Workflow&nbsp;Emails</li>
                        <li class="style2">Autoresponders</li>
                        <li class="style2">Press&nbsp;Releases</li>
                        <li class="style2">Feature Length&nbsp;Articles</li>
                        <li class="style2">Sell Sheet&nbsp;Content</li>
                        <li class="style2">Brochure&nbsp;Content</li>
                        <li class="style2">Sales&nbsp;Letters</li>
                        <li class="style2">Newsletters</li>
                        <li class="style2">Tagline development</li>
                        <li class="style2">Website content development</li>
                        <li class="style2">SEO content writing and content optimization</li>
                        <li class="style2">Case study development</li>
                        <li class="style2">Webinar content development</li>
                        <li class="style2">Marketing tool development</li>
                        <li class="style2">Print advertising campaigns</li>
                        <li class="style2">Direct mail campaigns</li>
                        <li class="style2">Email marketing campaigns</li>
                        <li class="style2">Integrated marketing campaigns</li>
                        <li class="style2">Newsletter articles</li>
                        <li class="style2">YouTube videos</li>
                        <li class="style2">Multimedia presentations</li>
                    </ul>




                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock body %}