{% extends 'root/layout.html' %}
{% load static %}

<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div id="object"></div>
        </div>
    </div>
</div>

{% block title %}
  - Publications
{% endblock title %}

{% block meta_tags %}
<meta name="keywords"
    content="Sagar, Foundation, sagar foundation,Social Work, Social Contribution, Research, Data Analysis, Awareness,  Publication, Journal, Research Paper, Donation, Professional">
<meta name="description"
    content="SAGAR Foundation is a Government approved Registered Trust (Redg. No
    E/21046/Ahmedabad)
    working on a philosophy of “Social Service with Professional Approach”.">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock meta_tags %}


{% block body %}

<div class="title-section module">
    <div class="row">
        <div class="small-12 columns">
            <h1>Publications</h1>
        </div>
        <div class="small-12 columns">
            <ul class="breadcrumbs">
                <li><a href="{% url 'root:index' %}">Home</a></li>

                <li><span class="show-for-sr">Current: </span> Publications</li>
            </ul>
        </div>
    </div>
</div>

<style>
    h4 {
        color: black;

    }
</style>
<div id="recent-posts-2" class="widget">
    <center>
        <h1><b>Publications</b></h1>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray;margin-top: 10px;">
        <div style="margin-bottom: 5px;">
            <h4>Editor in chief</h4>
        </div>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray;margin-top: 10px;">
        <div style="margin-top:20px ;">
            <div>
                <h4>Dr. Gurmeet Singh</h4>
                <h5>Associate Professor, Unitedworld School of Business,Gandhinagar, Gujarat, India</h5>
            </div>
        </div>

        <hr style="height:2px;border-width:0;color:gray;background-color:gray;margin-top: 10px;margin-top: 120px;">
        <div style="margin-bottom: 5px;">
            <h4>Editorial Team</h4>
        </div>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray;margin-top: 10px;margin-bottom: 25px;">
        <div style="margin-bottom: 5px;">
            <div>
                <h4>Dr. Ritesh Shah</h4>
                <h5>Assistant Professor, Canadian Career College of Innovative Technology & Management, Toronto,<br>
                    Canada</h5>
            </div>
        </div>
        <hr
            style="height:1px;width: 400px;border-width:0;color:rgb(44, 18, 146);background-color:rgb(128, 128, 128);margin-top: 10px;">
        <div style="margin-bottom: 5px;">
            <div>
                <h4>Dr. Chintan Joshi</h4>
                <h5>Professor, Muscat Banking & Finance Studies, Affiliated with University of Bradford (UK),
                    Muskat,<br> Oman</h5>
            </div>
        </div>
        <hr
            style="height:1px;width: 400px;border-width:0;color:rgb(44, 18, 146);background-color:rgb(128, 128, 128);margin-top: 10px;">
        <div style="margin-bottom: 5px;">
            <div>
                <h4>Dr. Gurpreet Arora</h4>
                <h5>Dean, St. Kabir Institute of Professional Studies, Ahmedabad, Gujarat, India</h5>
            </div>
        </div>
        <hr
            style="height:1px;width: 400px;border-width:0;color:rgb(44, 18, 146);background-color:rgb(128, 128, 128);margin-top: 10px;">

        <div style="margin-bottom: 5px;">
            <div>
                <h4>Dr. Kishor Bhanushali</h4>
                <h5>Associate Professor, Unitedworld School of Business,Gandhinagar, Gujarat, India</h5>
            </div>
        </div>

        <hr
            style="height:1px;width: 400px;border-width:0;color:rgb(44, 18, 146);background-color:rgb(128, 128, 128);margin-top: 10px;">

        <div style="margin-bottom: 5px;">
            <div>
                <h4>Dr. Naresh Chuhan</h4>
                <h5>Assistant Professor, Gujarat Vidhyapith, Ahmedabad, Gujarat, India</h5>
            </div>
        </div>

        <hr
            style="height:1px;width: 400px;border-width:0;color:rgb(44, 18, 146);background-color:rgb(128, 128, 128);margin-top: 10px;">
        <div style="margin-bottom: 5px;">
            <div>
                <h4>Dr. Bhavik U Swavida</h4>
                <h5>S. M. Patel Institute of Commerce, GLS University, Ahmedabad, Gujarat, India</h5>
            </div>
        </div>

        <hr
            style="height:1px;width: 400px;border-width:0;color:rgb(44, 18, 146);background-color:rgb(128, 128, 128);margin-top: 10px;">

        <div style="margin-bottom: 5px;">
            <div style="margin-bottom: 5px;">
                <div>
                    <h4>Dr.PG Balasubramanian</h4>
                    <h5>Research Consultant for Planning and Monitoring , ORGANIC FARMERS RESEARCH TRUST–Tamilnadu,
                        India</h5>
                </div>
            </div>

            <hr
                style="height:1px;width: 400px;border-width:0;color:rgb(44, 18, 146);background-color:rgb(128, 128, 128);margin-top: 10px;">
            <div>
                <h4>Dr Himansu Barot</h4>
                <h5>CEO, Rao Wealth Management, Mahesana, Gujarat India</h5>
            </div>
        </div>

        <hr
            style="height:1px;width: 400px;border-width:0;color:rgb(44, 18, 146);background-color:rgb(128, 128, 128);margin-top: 10px;">
    </center>
    <div class="content-section module blog-page">
        <div class="row">
            <br><br>

            <ul>
                <a href="{% static 'images/Journal Front Page.jpg' %}" style="color:blue"><b>SAGAR: International
                        Journal of Management &amp; Research (ISSN: 2456-2815)</b></a>
                <div style="margin-bottom: 10px;">
                    <img src="{% static 'images/Cover Page.jpg' %}" alt="Cover Page"
                        style="height: 600px;width:470px;border: 1px solid;">
                </div>
                {% for i in publications %}
                <li>
                    <a href="{{i.file.url}}" style="color:blue"><b>{{i.title}}</b></a>
                </li>
                {% endfor %}
            </ul>
            <h2 style="color:black;border-color: black;">
                <h2><b>Upcoming Journals</b></h2>
                <ul>

                    <li>
                        <b>SAGAR: International Journal of Accounting & Finance Research</b>
                    </li>

                    <li>
                        <b>SAGAR: International Journal of Economics Research</b>
                    </li>
                    <li>
                        <b>SAGAR: International Journal of Marketing Research</b>
                    </li>
                    <li>
                        <b>SAGAR: International Journal of Human Resource Management & Research</b>
                    </li>
                    <li>
                        <b>SAGAR: International Journal of Social Science Research</b>
                    </li>

                </ul>


                <div>
                    <center> <a href="{% static 'Copyright Agreement.pdf' %}" class="button primary">Copyright
                            Agreement</a>
                        <a href="{% static 'Guideline for Authors.pdf' %}" class="button primary">Guideline for
                            Authors</a>
                    </center>
                </div>
        </div>
    </div>
</div>
{% endblock body %}