{% load static %}

<div class="our-courses module grey-bg">
    <div class="row">
        <div class="section-title-wrapper">
            <div class="section-title">
                <h2>Our Courses</h2>
                <p>Find Best Course For Yourself!</p>
            </div>
        </div>
        <div class="course-wrapper">
            <ul class="tabs" data-tabs id="course-tabs" role="tablist">
                <li class="tabs-title is-active"><a href="#graphic_design" aria-selected="true" role="tab">Graphic
                        Design</a></li>
                <li class="tabs-title"><a href="#programming">Programming</a></li>
                <li class="tabs-title"><a href="#finance">Finance</a></li>
                <li class="tabs-title"><a href="#forieng_language">Foreign Language</a></li>
                <li class="tabs-title"><a href="#mathematics">Mathematics</a></li>
            </ul>
            <div class="tabs-content" data-tabs-content="course-tabs">
                <div class="tabs-panel is-active" id="graphic_design">
                    <div class="medium-4 small-12 columns">
                        <div class="course">
                            <div class="course-thumb">
                                <img src="{% static 'images/help/print.jpg' %}" alt="Graphic Design" />
                                <img src="{% static 'images/help/teacher3.jpg' %}" class="teacher" alt="Michel" />
                                <div class="teacher-name">John Doe.</div>
                                <div class="price-tag">$28.55</div>
                            </div>
                            <div class="wc-course-details" style="padding: 20px;">
                            <h3>Print Designing</h3>
                            <p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie
                                vehicula.</p>
                            <ul class="no-bullet">
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> <strong>Timing: </strong>8:00-9:00
                                    / Wednesday
                                    and Sunday only</li>
                                <li><i class="fa fa-calendar" aria-hidden="true"></i> <strong>Starting From:
                                    </strong>November 28,
                                    2013</li>
                            </ul>
                            <a href="#" class="secondary button">Register Yourself!</a>
                            </div>
                        </div>
                    </div>
                    <div class="medium-4 small-12 columns">
                        <div class="course">
                            <div class="course-thumb">
                                <img src="{% static 'images/help/web.jpg' %}" alt="Graphic Design" />
                                <img src="{% static 'images/help/teacher2.jpg' %}" class="teacher" alt="Michel" />
                                <div class="teacher-name">John Doe.</div>
                                <div class="price-tag">$28.55</div>
                            </div>
                            <div class="wc-course-details" style="padding: 20px;">
                            <h3>Web Designing</h3>
                            <p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie
                                vehicula.</p>
                            <ul class="no-bullet">
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> <strong>Timing: </strong>8:00-9:00
                                    / Wednesday
                                    and Sunday only</li>
                                <li><i class="fa fa-calendar" aria-hidden="true"></i> <strong>Starting From:
                                    </strong>November 28,
                                    2013</li>
                            </ul>
                            <a href="#" class="secondary button">Register Yourself!</a>
                        </div>
                        </div>
                    </div>
                    <div class="medium-4 small-12 columns">
                        <div class="course">
                            <div class="course-thumb">
                                <img src="{% static 'images/help/logo.jpg' %}" alt="Graphic Design" />
                                <img src="{% static 'images/help/teacher1.jpg' %}" class="teacher" alt="Michel" />
                                <div class="teacher-name">John Doe.</div>
                                <div class="price-tag">$28.55</div>
                            </div>
                            <div class="wc-course-details" style="padding: 20px;">
                            <h3>Logo/Icons Designing</h3>
                            <p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie
                                vehicula.</p>
                            <ul class="no-bullet">
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> <strong>Timing: </strong>8:00-9:00
                                    / Wednesday
                                    and Sunday only</li>
                                <li><i class="fa fa-calendar" aria-hidden="true"></i> <strong>Starting From:
                                    </strong>November 28,
                                    2013</li>
                            </ul>
                            <a href="#" class="secondary button">Register Yourself!</a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="tabs-panel" id="programming">
                    <div class="medium-4 small-12 columns">
                        <div class="course">
                            <div class="course-thumb">
                                <img src="{% static 'images/help/print.jpg' %}" alt="Graphic Design" />
                                <img src="{% static 'images/help/teacher3.jpg' %}" class="teacher" alt="Michel" />
                                <div class="teacher-name">John Doe.</div>
                                <div class="price-tag">$28.55</div>
                            </div>
                            <div class="wc-course-details" style="padding: 20px;">
                            <h3>PHP Web Development</h3>
                            <p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie
                                vehicula.</p>
                            <ul class="no-bullet">
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> <strong>Timing: </strong>8:00-9:00
                                    / Wednesday
                                    and Sunday only</li>
                                <li><i class="fa fa-calendar" aria-hidden="true"></i> <strong>Starting From:
                                    </strong>November 28,
                                    2013</li>
                            </ul>
                            <a href="#" class="secondary button">Register Yourself!</a>
                            </div>
                        </div>
                    </div>
                    <div class="medium-4 small-12 columns">
                        <div class="course">
                            <div class="course-thumb">
                                <img src="{% static 'images/help/web.jpg' %}" alt="Graphic Design" />
                                <img src="{% static 'images/help/teacher2.jpg' %}" class="teacher" alt="Michel" />
                                <div class="teacher-name">John Doe.</div>
                                <div class="price-tag">$28.55</div>
                            </div>
                            <div class="wc-course-details" style="padding: 20px;">
                            <h3>.NET Programming</h3>
                            <p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie
                                vehicula.</p>
                            <ul class="no-bullet">
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> <strong>Timing: </strong>8:00-9:00
                                    / Wednesday
                                    and Sunday only</li>
                                <li><i class="fa fa-calendar" aria-hidden="true"></i> <strong>Starting From:
                                    </strong>November 28,
                                    2013</li>
                            </ul>
                            <a href="#" class="secondary button">Register Yourself!</a>
                            </div>
                        </div>
                    </div>
                    <div class="medium-4 small-12 columns">
                        <div class="course">
                            <div class="course-thumb">
                                <img src="{% static 'images/help/logo.jpg' %}" alt="Graphic Design" />
                                <img src="{% static 'images/help/teacher1.jpg' %}" class="teacher" alt="Michel" />
                                <div class="teacher-name">John Doe.</div>
                                <div class="price-tag">$28.55</div>
                            </div>
                            <div class="wc-course-details" style="padding: 20px;">
                            <h3>JavaScript/Ajax</h3>
                            <p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie
                                vehicula.</p>
                            <ul class="no-bullet">
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> <strong>Timing: </strong>8:00-9:00
                                    / Wednesday
                                    and Sunday only</li>
                                <li><i class="fa fa-calendar" aria-hidden="true"></i> <strong>Starting From:
                                    </strong>November 28,
                                    2013</li>
                            </ul>
                            <a href="#" class="secondary button">Register Yourself!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs-panel" id="finance">
                    <div class="medium-4 small-12 columns">
                        <div class="course">
                            <div class="course-thumb">
                                <img src="{% static 'images/help/print.jpg' %}" alt="Graphic Design" />
                                <img src="{% static 'images/help/teacher3.jpg' %}" class="teacher" alt="Michel" />
                                <div class="teacher-name">John Doe.</div>
                                <div class="price-tag">$28.55</div>
                            </div>
                            <div class="wc-course-details" style="padding: 20px;">
                            <h3>Accounting Software</h3>
                            <p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie
                                vehicula.</p>
                            <ul class="no-bullet">
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> <strong>Timing: </strong>8:00-9:00
                                    / Wednesday
                                    and Sunday only</li>
                                <li><i class="fa fa-calendar" aria-hidden="true"></i> <strong>Starting From:
                                    </strong>November 28,
                                    2013</li>
                            </ul>
                            <a href="#" class="secondary button">Register Yourself!</a>
                            </div>
                        </div>
                    </div>
                    <div class="medium-4 small-12 columns">
                        <div class="course">
                            <div class="course-thumb">
                                <img src="{% static 'images/help/web.jpg' %}" alt="Graphic Design" />
                                <img src="{% static 'images/help/teacher2.jpg' %}" class="teacher" alt="Michel" />
                                <div class="teacher-name">John Doe.</div>
                                <div class="price-tag">$28.55</div>
                            </div>
                            <div class="wc-course-details" style="padding: 20px;">
                            <h3>Business Auditing</h3>
                            <p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie
                                vehicula.</p>
                            <ul class="no-bullet">
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> <strong>Timing: </strong>8:00-9:00
                                    / Wednesday
                                    and Sunday only</li>
                                <li><i class="fa fa-calendar" aria-hidden="true"></i> <strong>Starting From:
                                    </strong>November 28,
                                    2013</li>
                            </ul>
                            <a href="#" class="secondary button">Register Yourself!</a>
                        </div>
                        </div>
                    </div>
                    <div class="medium-4 small-12 columns">
                        <div class="course">
                            <div class="course-thumb">
                                <img src="{% static 'images/help/logo.jpg' %}" alt="Graphic Design" />
                                <img src="{% static 'images/help/teacher1.jpg' %}" class="teacher" alt="Michel" />
                                <div class="teacher-name">John Doe.</div>
                                <div class="price-tag">$28.55</div>
                            </div>
                            <div class="wc-course-details" style="padding: 20px;">
                            <h3>Financial Accounting</h3>
                            <p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie
                                vehicula.</p>
                            <ul class="no-bullet">
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> <strong>Timing: </strong>8:00-9:00
                                    / Wednesday
                                    and Sunday only</li>
                                <li><i class="fa fa-calendar" aria-hidden="true"></i> <strong>Starting From:
                                    </strong>November 28,
                                    2013</li>
                            </ul>
                            <a href="#" class="secondary button">Register Yourself!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs-panel" id="forieng_language">
                    <div class="medium-4 small-12 columns">
                        <div class="course">
                            <div class="course-thumb">
                                <img src="{% static 'images/help/print.jpg' %}" alt="Graphic Design" />
                                <img src="{% static 'images/help/teacher3.jpg' %}" class="teacher" alt="Michel" />
                                <div class="teacher-name">John Doe.</div>
                                <div class="price-tag">$28.55</div>
                            </div>
                            <div class="wc-course-details" style="padding: 20px;">
                            <h3>English</h3>
                            <p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie
                                vehicula.</p>
                            <ul class="no-bullet">
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> <strong>Timing: </strong>8:00-9:00
                                    / Wednesday
                                    and Sunday only</li>
                                <li><i class="fa fa-calendar" aria-hidden="true"></i> <strong>Starting From:
                                    </strong>November 28,
                                    2013</li>
                            </ul>
                            <a href="#" class="secondary button">Register Yourself!</a>
                            </div>
                        </div>
                    </div>
                    <div class="medium-4 small-12 columns">
                        <div class="course">
                            <div class="course-thumb">
                                <img src="{% static 'images/help/web.jpg' %}" alt="Graphic Design" />
                                <img src="{% static 'images/help/teacher2.jpg' %}" class="teacher" alt="Michel" />
                                <div class="teacher-name">John Doe.</div>
                                <div class="price-tag">$28.55</div>
                            </div>
                            <div class="wc-course-details" style="padding: 20px;">
                            <h3>French</h3>
                            <p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie
                                vehicula.</p>
                            <ul class="no-bullet">
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> <strong>Timing: </strong>8:00-9:00
                                    / Wednesday
                                    and Sunday only</li>
                                <li><i class="fa fa-calendar" aria-hidden="true"></i> <strong>Starting From:
                                    </strong>November 28,
                                    2013</li>
                            </ul>
                            <a href="#" class="secondary button">Register Yourself!</a>
                            </div>
                        </div>
                    </div>
                    <div class="medium-4 small-12 columns">
                        <div class="course">
                            <div class="course-thumb">
                                <img src="{% static 'images/help/logo.jpg' %}" alt="Graphic Design" />
                                <img src="{% static 'images/help/teacher1.jpg' %}" class="teacher" alt="Michel" />
                                <div class="teacher-name">John Doe.</div>
                                <div class="price-tag">$28.55</div>
                            </div>
                            <div class="wc-course-details" style="padding: 20px;">
                            <h3>German</h3>
                            <p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie
                                vehicula.</p>
                            <ul class="no-bullet">
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> <strong>Timing: </strong>8:00-9:00
                                    / Wednesday
                                    and Sunday only</li>
                                <li><i class="fa fa-calendar" aria-hidden="true"></i> <strong>Starting From:
                                    </strong>November 28,
                                    2013</li>
                            </ul>
                            <a href="#" class="secondary button">Register Yourself!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs-panel" id="mathematics">
                    <div class="medium-4 small-12 columns">
                        <div class="course">
                            <div class="course-thumb">
                                <img src="{% static 'images/help/print.jpg' %}" alt="Graphic Design" />
                                <img src="{% static 'images/help/teacher3.jpg' %}" class="teacher" alt="Michel" />
                                <div class="teacher-name">John Doe.</div>
                                <div class="price-tag">$28.55</div>
                            </div>
                            <div class="wc-course-details" style="padding: 20px;">
                            <h3>Calculus</h3>
                            <p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie
                                vehicula.</p>
                            <ul class="no-bullet">
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> <strong>Timing: </strong>8:00-9:00
                                    / Wednesday
                                    and Sunday only</li>
                                <li><i class="fa fa-calendar" aria-hidden="true"></i> <strong>Starting From:
                                    </strong>November 28,
                                    2013</li>
                            </ul>
                            <a href="#" class="secondary button">Register Yourself!</a>
                            </div>
                        </div>
                    </div>
                    <div class="medium-4 small-12 columns">
                        <div class="course">
                            <div class="course-thumb">
                                <img src="{% static 'images/help/web.jpg' %}" alt="Graphic Design" />
                                <img src="{% static 'images/help/teacher2.jpg' %}" class="teacher" alt="Michel" />
                                <div class="teacher-name">John Doe.</div>
                                <div class="price-tag">$28.55</div>
                            </div>
                            <div class="wc-course-details" style="padding: 20px;">
                            <h3>Trignomentry</h3>
                            <p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie
                                vehicula.</p>
                            <ul class="no-bullet">
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> <strong>Timing: </strong>8:00-9:00
                                    / Wednesday
                                    and Sunday only</li>
                                <li><i class="fa fa-calendar" aria-hidden="true"></i> <strong>Starting From:
                                    </strong>November 28,
                                    2013</li>
                            </ul>
                            <a href="#" class="secondary button">Register Yourself!</a>
                            </div>
                        </div>
                    </div>
                    <div class="medium-4 small-12 columns">
                        <div class="course">
                            <div class="course-thumb">
                                <img src="{% static 'images/help/logo.jpg' %}" alt="Graphic Design" />
                                <img src="{% static 'images/help/teacher1.jpg' %}" class="teacher" alt="Michel" />
                                <div class="teacher-name">John Doe.</div>
                                <div class="price-tag">$28.55</div>
                            </div>
                            <div class="wc-course-details" style="padding: 20px;">
                            <h3>Algebra</h3>
                            <p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie
                                vehicula.</p>
                            <ul class="no-bullet">
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> <strong>Timing: </strong>8:00-9:00
                                    / Wednesday
                                    and Sunday only</li>
                                <li><i class="fa fa-calendar" aria-hidden="true"></i> <strong>Starting From:
                                    </strong>November 28,
                                    2013</li>
                            </ul>
                            <a href="#" class="secondary button">Register Yourself!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>