{% load static %}

<div class="our-teachers module">
    <div class="row">
        <div class="section-title-wrapper">
            <div class="section-title">
                <h2>Our Teachers</h2>
                <p>Some Special Teachers From the Industry!</p>
            </div>
        </div>
        <div class="teachers-wrapper">
            <div class="teacher">
                <div class="teacher-thumb">
                    <img src="{% static 'images/help/teacher1.jpg' %}" alt="Teacher Doe" />
                    <div class="teacher-links menu-centered">
                        <ul class="menu">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                        <a href="#" class="small-button">Read More &raquo;</a>
                    </div>
                </div>
                <div class="teacher-meta">
                    <h3><a href="#">Mr. John Doe</a></h3>
                    <p>Highly Educated Punjab University Professor</p>
                </div>
            </div>
            <div class="teacher">
                <div class="teacher-thumb">
                    <img src="{% static 'images/help/teacher5.jpg' %}" alt="Teacher Doe" />
                    <div class="teacher-links menu-centered">
                        <ul class="menu">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                        <a href="#" class="small-button">Read More &raquo;</a>
                    </div>
                </div>
                <div class="teacher-meta">
                    <h3><a href="#">Mr. John Doe</a></h3>
                    <p>Highly Educated Punjab University Professor</p>
                </div>
            </div>
            <div class="teacher">
                <div class="teacher-thumb">
                    <img src="{% static 'images/help/teacher3.jpg' %}" alt="Teacher Doe" />
                    <div class="teacher-links menu-centered">
                        <ul class="menu">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                        <a href="#" class="small-button">Read More &raquo;</a>
                    </div>
                </div>
                <div class="teacher-meta">
                    <h3><a href="#">Mr. John Doe</a></h3>
                    <p>Highly Educated Punjab University Professor</p>
                </div>
            </div>
            <div class="teacher">
                <div class="teacher-thumb">
                    <img src="{% static 'images/help/teacher4.jpg' %}" alt="Teacher Doe" />
                    <div class="teacher-links menu-centered">
                        <ul class="menu">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                        <a href="#" class="small-button">Read More &raquo;</a>
                    </div>
                </div>
                <div class="teacher-meta">
                    <h3><a href="#">Mr. John Doe</a></h3>
                    <p>Highly Educated Punjab University Professor</p>
                </div>
            </div>
            <div class="teacher">
                <div class="teacher-thumb">
                    <img src="{% static 'images/help/teacher2.jpg' %}" alt="Teacher Doe" />
                    <div class="teacher-links menu-centered">
                        <ul class="menu">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                        <a href="#" class="small-button">Read More &raquo;</a>
                    </div>
                </div>
                <div class="teacher-meta">
                    <h3><a href="#">Mr. John Doe</a></h3>
                    <p>Highly Educated Punjab University Professor</p>
                </div>
            </div>
        </div>
    </div>
</div>