{% load static %}
<div class="gallery-wrapper module">
  <div class="section-title-wrapper">
    <div class="section-title">
      <h2>Our Gallery</h2>
      <p>Some Important Highlights From Our Activities</p>
    </div>
  </div>

  <div class="gallery-container">
    <center>
      <!-- new update  -->
      <a href="{% static 'images/q1.jpg' %}" data-lightbox="campus-gallery"
        data-title="Odhav Shivan Class">
        <img class="gallery-thumb" src="{% static 'images/q1.jpg' %}" alt="" >
      </a>
      <a href="{% static 'images/q2.jpg' %}" data-lightbox="campus-gallery"
        data-title="Odhav Shivan Class">
        <img class="gallery-thumb" src="{% static 'images/q2.jpg' %}" alt="" />
      </a>
      <a href="{% static 'images/q3.jpg' %}" data-lightbox="campus-gallery"
        data-title="Odhav Shivan Class">
        <img class="gallery-thumb" src="{% static 'images/q3.jpg' %}" alt="" />
      </a>
      <a href="{% static 'images/q4.jpg' %}" data-lightbox="campus-gallery"
        data-title="Odhav Shivan Class">
        <img class="gallery-thumb" src="{% static 'images/q4.jpg' %}" alt="" />
      </a>
      <!-- new end  -->

      <a href="{% static 'images/literature.jpg' %}" data-lightbox="campus-gallery"
        data-title="Invited by Knowledge Consortium of Gujarat (KCG) for session on “Review of Literature and Research Methodology ”.">
        <img class="gallery-thumb" src="{% static 'images/literature.jpg' %}" alt="" />
      </a>
      <a href="{% static 'images/Rprogramming.jpg' %}" data-lightbox="campus-gallery"
        data-title="Participated in One Week National Workshop on Research and Data Analysis using R Programming organized by INFLIBNET (UGC) Gandhinagar.">
        <img class="gallery-thumb" src="{% static 'images/Rprogramming.jpg' %}" alt="" />
      </a>
      <a href="{% static 'images/training.jpg' %}" data-lightbox="campus-gallery"
        data-title="Invited by Knowledge Consortium of Gujarat (KCG) for session on “Research  Research Methodology & Use of SPSS ”.">
        <img class="gallery-thumb" src="{% static 'images/training.jpg' %}" alt="" />
      </a>
      <a href="{% static 'images/gls.jpg' %}" data-lightbox="campus-gallery"
        data-title="Invited by GLS University for Guest Lecture on  “Role of Public Sector and Economic Reforms” at Faculty of Business Administration formerly known as N R Institute of Business Administration.">
        <img class="gallery-thumb" src="{% static 'images/gls.jpg' %}" alt="" />
      </a>
      <a href="{% static 'images/research.jpg' %}" data-lightbox="campus-gallery"
        data-title="Invited by Kutch University as a Key Resource Person in Workshop on Research Methodology (SPSS Training Workshop).">
        <img class="gallery-thumb" src="{% static 'images/research.jpg' %}" alt="" />
      </a>
      <a href="{% static 'images/spss.jpg' %}" data-lightbox="campus-gallery"
        data-title="Invited by Kutch University as a Key Resource Person in Workshop on Research Methodology (SPSS Training Workshop).">
        <img class="gallery-thumb" src="{% static 'images/spss.jpg' %}" alt="" />
      </a>
      <a href="{% static 'images/rai3.jpg' %}" data-lightbox="campus-gallery"
        data-title="Invited as session chair at National Conference on Management and Innovation 2020, at Rai University.">
        <img class="gallery-thumb" src="{% static 'images/rai3.jpg' %}" alt="" />
      </a>
      <a href="{% static 'images/27.jpg' %}" data-lightbox="campus-gallery"
        data-title="Invited by GLS University for Guest Lecture on  “Role of Public Sector and Economic Reforms” at Faculty of Business Administration formerly known as N R Institute of Business Administration.">
        <img class="gallery-thumb" src="{% static 'images/27.jpg' %}" alt="" />
      </a>
      
    </center>
  </div>
</div>


